// Bindings for images and icons used throughout the guides

// Buffs and debuffs

.protection {
	content: url('https://wiki.guildwars2.com/images/6/6c/Protection.png');
}

.stability {
	content: url('https://wiki.guildwars2.com/images/a/ae/Stability.png');
}

.defiance {
	content: url('https://wiki.guildwars2.com/images/4/49/Unshakable2.png');
}

.resolution {
	content: url('https://wiki.guildwars2.com/images/0/06/Resolution.png');
}

.quickness {
	content: url('https://wiki.guildwars2.com/images/b/b4/Quickness.png');
}

.alacrity {
	content: url(https://wiki.guildwars2.com/images/4/4c/Alacrity.png);
}

.might {
	content: url('https://wiki.guildwars2.com/images/7/7c/Might.png');
}

.fury {
	content: url('https://wiki.guildwars2.com/images/4/46/Fury.png');
}

.swiftness {
	content: url(https://wiki.guildwars2.com/images/a/af/Swiftness.png);
}

.empowered {
	content: url('https://wiki.guildwars2.com/images/9/9c/Empowered_%28Mursaat_Overseer%29.png');
}

.aegis {
	content: url('https://wiki.guildwars2.com/images/e/e5/Aegis.png');
}

.stun {
	content: url('https://wiki.guildwars2.com/images/thumb/9/97/Stun.png/30px-Stun.png');
}

.unblockable {
	content: url('https://wiki.guildwars2.com/images/thumb/6/6e/Unblockable.png/30px-Unblockable.png');
}

.exposed {
	content: url('https://wiki.guildwars2.com/images/6/6b/Exposed.png');
}

.invuln {
	content: url('https://wiki.guildwars2.com/images/e/eb/Determined.png');
}

.vuln {
	content: url('https://wiki.guildwars2.com/images/thumb/a/af/Vulnerability.png/30px-Vulnerability.png');
}

.stun {
	content: url('https://wiki.guildwars2.com/images/thumb/9/97/Stun.png/30px-Stun.png');
}

.float {
	content: url(https://wiki.guildwars2.com/images/c/c8/Float.png);
}

.defeat {
	content:url('https://wiki.guildwars2.com/images/4/42/Dead_ally_overhead_icon.png')
}

.daze {
	content:url('https://wiki.guildwars2.com/images/thumb/7/79/Daze.png/30px-Daze.png')
}

.debilitated {
	content: url('https://wiki.guildwars2.com/images/thumb/8/80/Debilitated.png/30px-Debilitated.png');
}

.weakness {
	content: url(https://wiki.guildwars2.com/images/f/f9/Weakness.png);
}

.poison {
	content: url('https://wiki.guildwars2.com/images/1/11/Poisoned.png');
}

.blind {
	content: url(https://wiki.guildwars2.com/images/3/33/Blinded.png);
}

.immobile {
	content: url(https://wiki.guildwars2.com/images/3/32/Immobile.png);
}

.fear {
	content: url(https://wiki.guildwars2.com/images/e/e6/Fear.png);
}

.burning {
	content: url('https://wiki.guildwars2.com/images/4/45/Burning.png');
}

.confusion {
	content: url('https://wiki.guildwars2.com/images/e/e6/Confusion.png');
}

.bleeding {
	content: url('https://wiki.guildwars2.com/images/3/33/Bleeding.png');
}

.cripple {
	content: url('https://wiki.guildwars2.com/images/f/fb/Crippled.png');
}

.cleanse {
	content: url('https://wiki.guildwars2.com/images/thumb/1/12/Healing_Spring.png');
}

.superspeed {
	content: url('https://wiki.guildwars2.com/images/thumb/c/c8/Superspeed.png/60px-Superspeed.png');
}

.stealth {
	content: url('https://wiki.guildwars2.com/images/1/19/Stealth.png');
}

.toughness {
	content: url('https://wiki.guildwars2.com/images/1/12/Toughness.png')
}

.resistance {
	content: url(https://wiki.guildwars2.com/images/4/4b/Resistance.png);
}

// Skills

.evade{
	content: url('https://wiki.guildwars2.com/images/b/b2/Dodge.png');
}

.distortion {
	content: url('https://wiki.guildwars2.com/images/thumb/2/22/Distortion.png/72px-Distortion.png');
}

.harp {
	content: url(https://wiki.guildwars2.com/images/thumb/4/4e/Harmonious_Harp.png/50px-Harmonious_Harp.png);
}

.feedback {
	content: url('https://wiki.guildwars2.com/images/thumb/6/69/Feedback.png/72px-Feedback.png');
}

.medic-feedback {
	content: url('https://wiki.guildwars2.com/images/thumb/b/bf/Medic%27s_Feedback.png/60px-Medic%27s_Feedback.png');
}

.cpc {
	content: url('https://wiki.guildwars2.com/images/thumb/3/3e/Corrosive_Poison_Cloud.png/72px-Corrosive_Poison_Cloud.png');
}

.precog {
	content: url('https://wiki.guildwars2.com/images/thumb/4/4a/Well_of_Precognition.png/72px-Well_of_Precognition.png');
}

.inversion {
	content: url('https://wiki.guildwars2.com/images/thumb/3/3b/Imaginary_Inversion.png/50px-Imaginary_Inversion.png')
}

.singularity {
	content: url('https://wiki.guildwars2.com/images/thumb/5/5b/Singularity_Shot.png/72px-Singularity_Shot.png');
}

.rifle-portal {
	content: url('https://wiki.guildwars2.com/images/thumb/8/80/Dimensional_Aperture.png/72px-Dimensional_Aperture.png');
}

.crescendo {
	content: url(https://wiki.guildwars2.com/images/thumb/b/b1/Crescendo.png/50px-Crescendo.png);
}

.wall-reflect {
	content: url('https://wiki.guildwars2.com/images/thumb/6/6d/Wall_of_Reflection.png/96px-Wall_of_Reflection.png');
}

.stand-ground {
	content: url('https://wiki.guildwars2.com/images/3/31/%22Stand_Your_Ground%21%22.png');
}

.bulwark {
	content: url('https://wiki.guildwars2.com/images/7/73/Chapter_3-_Valiant_Bulwark.png');
}

.smoke-screen {
	content: url('https://wiki.guildwars2.com/images/e/e5/Smoke_Screen.png')
}

.cs {
	content: url('https://wiki.guildwars2.com/images/thumb/d/db/Continuum_Split.png/96px-Continuum_Split.png');
}

.cs-exit {
	content: url(https://wiki.guildwars2.com/images/thumb/d/d7/Continuum_Shift.png/72px-Continuum_Shift.png);
}

.moa {
	content: url('https://wiki.guildwars2.com/images/thumb/b/b5/Signet_of_Humility.png/96px-Signet_of_Humility.png')
}

.domination {
	content: url('https://wiki.guildwars2.com/images/thumb/3/3b/Signet_of_Domination.png/96px-Signet_of_Domination.png');
}

.senility {
	content: url('https://wiki.guildwars2.com/images/thumb/b/bb/Well_of_Senility.png/96px-Well_of_Senility.png');
}

.blink {
	content: url('https://wiki.guildwars2.com/images/thumb/1/16/Blink.png/72px-Blink.png');
}

.technobabble {
	content: url('https://wiki.guildwars2.com/images/thumb/9/9c/Technobabble.png/72px-Technobabble.png');
}

.collapse {
	content: url('https://wiki.guildwars2.com/images/thumb/5/5a/Mental_Collapse.png/72px-Mental_Collapse.png');
}

.clarity {
	content: url('https://wiki.guildwars2.com/images/d/d7/Clarity.png');
}

.sharpshooter {
	content: url('https://wiki.guildwars2.com/images/thumb/3/3b/Phantasmal_Sharpshooter.png/50px-Phantasmal_Sharpshooter.png');
}

.anguish {
	content: url('https://wiki.guildwars2.com/images/thumb/6/68/Trail_of_Anguish.png/72px-Trail_of_Anguish.png');
}

.blood-power {
	content: url('https://wiki.guildwars2.com/images/thumb/1/13/Blood_Is_Power.png/72px-Blood_Is_Power.png');
}

.curses {
	content: url('https://wiki.guildwars2.com/images/9/9a/Curses.png');
}

.reaping {
	content: url('https://wiki.guildwars2.com/images/5/50/Soul_Reaping.png');
}

.blood-magic {
	content:  url('https://wiki.guildwars2.com/images/b/b8/Blood_Magic.png');
}

.liberation {
	content: url('https://wiki.guildwars2.com/images/thumb/d/d2/Mantra_of_Liberation.png/50px-Mantra_of_Liberation.png');
}

.purging {
	content:  url('https://wiki.guildwars2.com/images/thumb/2/28/Purging_Flames.png/72px-Purging_Flames.png');
}

.feel-my-wrath {
	content: url('https://wiki.guildwars2.com/images/thumb/6/6f/%22Feel_My_Wrath%21%22.png/72px-%22Feel_My_Wrath%21%22.png');
}

.epilogue {
	content: url('https://wiki.guildwars2.com/images/thumb/d/d8/Epilogue-_Unbroken_Lines.png/50px-Epilogue-_Unbroken_Lines.png');
}

.virtues {
	content: url('https://wiki.guildwars2.com/images/8/81/Virtues.png');
}

.absolute-resolve {
	content: url('https://wiki.guildwars2.com/images/thumb/8/8c/Absolute_Resolve.png/38px-Absolute_Resolve.png');
}

.healing-turret {
	content: url('https://wiki.guildwars2.com/images/thumb/4/42/Healing_Turret.png/72px-Healing_Turret.png');
}

.lightning {
	content:  url('https://wiki.guildwars2.com/images/thumb/b/b2/Lightning_Flash.png/72px-Lightning_Flash.png');
}

.ele-glyph {
	content: url('https://wiki.guildwars2.com/images/thumb/b/b9/Glyph_of_Lesser_Elementals.png/50px-Glyph_of_Lesser_Elementals.png');
}

.mass-momentum {
	content: url('https://wiki.guildwars2.com/images/thumb/a/a9/Mass_Momentum.png/38px-Mass_Momentum.png');
}

.mass-invis {
	content: url(https://wiki.guildwars2.com/images/thumb/4/46/Mass_Invisibility.png/72px-Mass_Invisibility.png);
}

.curtain {
	content: url(https://wiki.guildwars2.com/images/thumb/b/b8/Temporal_Curtain.png/72px-Temporal_Curtain.png);
}

.binding-blade {
	content: url(https://wiki.guildwars2.com/images/thumb/d/de/Binding_Blade.png/72px-Binding_Blade.png);
}

.spectral-grasp {
	content: url(https://wiki.guildwars2.com/images/thumb/3/35/Spectral_Grasp.png/72px-Spectral_Grasp.png);
}

.golem {
	content: url('https://wiki.guildwars2.com/images/thumb/9/95/Summon_Flesh_Golem.png/72px-Summon_Flesh_Golem.png');
}

.golem-charge {
	content: url('https://wiki.guildwars2.com/images/thumb/3/3b/Charge_%28necromancer_skill%29.png/41px-Charge_%28necromancer_skill%29.png');
}

.jurisdiction {
	content: url('https://wiki.guildwars2.com/images/thumb/3/32/Jurisdiction.png/72px-Jurisdiction.png');
}

.rebuke {
	content: url('https://wiki.guildwars2.com/images/thumb/e/e7/Chapter_3-_Heated_Rebuke.png/72px-Chapter_3-_Heated_Rebuke.png');
}

.stab-mantra {
	content: url('https://wiki.guildwars2.com/images/thumb/a/ac/Mantra_of_Concentration.png/72px-Mantra_of_Concentration.png');
}

.shift {
	content: url('https://wiki.guildwars2.com/images/d/d1/Shift_Signet.png');
}

.undeath {
	content: url('https://wiki.guildwars2.com/images/thumb/9/9c/Signet_of_Undeath.png/72px-Signet_of_Undeath.png');
}

.master-consecrations {
	content: url('https://wiki.guildwars2.com/images/thumb/b/b4/Master_of_Consecrations.png/38px-Master_of_Consecrations.png');
}

.restore-virtues {
	content: url('https://wiki.guildwars2.com/images/thumb/0/00/Restorative_Virtues.png/60px-Restorative_Virtues.png');
}

.perm-wrath {
	content:  url('https://wiki.guildwars2.com/images/thumb/8/89/Permeating_Wrath.png/60px-Permeating_Wrath.png');
}

.haste {
	content: url('https://wiki.guildwars2.com/images/thumb/3/35/Haste.png/72px-Haste.png');
}

.shadowstep {
	content: url('https://wiki.guildwars2.com/images/thumb/2/25/Shadowstep.png/72px-Shadowstep.png');
}

.distracting-throw {
	content: url('https://wiki.guildwars2.com/images/thumb/d/d8/Distracting_Throw.png/72px-Distracting_Throw.png');
}

.m7 {
	content: url('https://wiki.guildwars2.com/images/thumb/9/94/Maleficent_Seven.png/60px-Maleficent_Seven.png');
}

.grandfinale {
	content: url('https://wiki.guildwars2.com/images/thumb/8/88/Grand_Finale.png/54px-Grand_Finale.png');
}

.ventari {
	content: url('https://wiki.guildwars2.com/images/thumb/8/8a/Legendary_Centaur_Stance.png/72px-Legendary_Centaur_Stance.png');
}

.leap {
	content: url('https://wiki.guildwars2.com/images/thumb/0/09/Leap_%28Raptor%29.png/72px-Leap_%28Raptor%29.png');
}

.roll-out {
	content: url('https://wiki.guildwars2.com/images/thumb/8/85/Roll_Out.png/72px-Roll_Out.png');
}

.august-queen {
	content: url('https://wiki.guildwars2.com/images/thumb/5/50/Tale_of_the_August_Queen.png/72px-Tale_of_the_August_Queen.png');
}

.mimic {
	content: url(https://wiki.guildwars2.com/images/thumb/a/a8/Mimic.png/72px-Mimic.png);
}

.portal {
	content: url(https://wiki.guildwars2.com/images/thumb/8/81/Portal_Entre.png/36px-Portal_Entre.png);
}

.shadow-portal {
	content: url(https://wiki.guildwars2.com/images/thumb/e/e3/Prepare_Shadow_Portal.png/72px-Prepare_Shadow_Portal.png);
}

.bombkit{
	content: url(https://wiki.guildwars2.com/images/thumb/5/50/Bomb_Kit.png/72px-Bomb_Kit.png);
}

.sand-swell {
	content: url(https://wiki.guildwars2.com/images/thumb/2/20/Sand_Swell.png/72px-Sand_Swell.png);
}

.psychic-force {
	content: url(https://wiki.guildwars2.com/images/thumb/d/dd/Psychic_Force.png/50px-Psychic_Force.png);
}

.fear-me {
	content: url(https://wiki.guildwars2.com/images/thumb/e/e6/%22Fear_Me%21%22.png/72px-%22Fear_Me%21%22.png);
}

.tides {
	content: url(https://wiki.guildwars2.com/images/thumb/6/6f/Glyph_of_the_Tides.png/72px-Glyph_of_the_Tides.png);
}

.infiltrator {
	content: url(https://wiki.guildwars2.com/images/thumb/8/8e/Infiltrator%27s_Signet.png/50px-Infiltrator%27s_Signet.png);
}

.infiltrator-arrow {
	content: url(https://wiki.guildwars2.com/images/thumb/c/c7/Infiltrator%27s_Arrow.png/50px-Infiltrator%27s_Arrow.png);
}

.well-darkness {
	content: url(https://wiki.guildwars2.com/images/thumb/1/1d/Well_of_Darkness.png/50px-Well_of_Darkness.png);
}

.sandstorm {
	content: url(https://wiki.guildwars2.com/images/thumb/b/b7/Sandstorm.png/72px-Sandstorm.png);
}

.call-out {
	content: url(https://wiki.guildwars2.com/images/thumb/b/b7/Over_Here%21.png/72px-Over_Here%21.png);
}

.flesh-wurm {
	content: url(https://wiki.guildwars2.com/images/thumb/4/49/Summon_Flesh_Wurm.png/72px-Summon_Flesh_Wurm.png);
}

.lightning-flash {
	content: url(https://wiki.guildwars2.com/images/thumb/b/b2/Lightning_Flash.png/72px-Lightning_Flash.png);
}

.mirage-thrust {
	content: url(https://wiki.guildwars2.com/images/thumb/2/29/Mirage_Thrust.png/50px-Mirage_Thrust.png);
}

.illusionary-wave {
	content: url(https://wiki.guildwars2.com/images/thumb/f/f8/Illusionary_Wave.png/72px-Illusionary_Wave.png);
}

.gyro-accel {
	content: url(https://wiki.guildwars2.com/images/thumb/1/11/Gyroscopic_Acceleration.png/38px-Gyroscopic_Acceleration.png);
}

.xinrae {
	content: url(https://wiki.guildwars2.com/images/thumb/6/62/Xinrae%27s_Weapon.png/50px-Xinrae%27s_Weapon.png);
}

.no-yield {
	content: url(https://wiki.guildwars2.com/images/thumb/0/03/%22We_Will_Never_Yield%21%22.png/72px-%22We_Will_Never_Yield%21%22.png);
}

.rebound {
	content: url(https://wiki.guildwars2.com/images/thumb/0/03/%22Rebound%21%22.png/72px-%22Rebound%21%22.png);
}

// Classes

.chrono {
	content: url(https://wiki.guildwars2.com/images/e/e0/Chronomancer_icon_small.png);
}

.herald {
	content: url(https://wiki.guildwars2.com/images/3/39/Herald_icon_small.png);
}

.scourge {
	content: url(https://wiki.guildwars2.com/images/e/e8/Scourge_icon_small.png);
}

.specter {
	content: url(https://wiki.guildwars2.com/images/6/61/Specter_icon_small.png);
}

.druid {
	content: url(https://wiki.guildwars2.com/images/9/9b/Druid_icon_small.png)
}

.firebrand {
	content: url(https://wiki.guildwars2.com/images/0/0e/Firebrand_icon_small.png);
}

.deadeye {
	content: url(https://wiki.guildwars2.com/images/7/70/Deadeye_icon_small.png);
}

.antiquary {
	content: url(https://wiki.guildwars2.com/images/d/d1/Antiquary_icon_small.png);
}

.scrapper {
	content: url(https://wiki.guildwars2.com/images/7/7d/Scrapper_icon_small.png);
}

.vindicator {
	content: url(https://wiki.guildwars2.com/images/6/6d/Vindicator_icon_small.png);
}

.mechanist {
	content: url(https://wiki.guildwars2.com/images/6/6d/Mechanist_icon_small.png);
}

.willbender {
	content: url(https://wiki.guildwars2.com/images/6/64/Willbender_icon_small.png);
}

.daredevil {
	content: url(https://wiki.guildwars2.com/images/f/f3/Daredevil_icon_small.png);
}

.weaver {
	content: url(https://wiki.guildwars2.com/images/c/c3/Weaver_icon_small.png);
}

.evoker {
	content: url(https://wiki.guildwars2.com/images/e/e3/Evoker_icon_small.png);
}

.elementalist {
	content: url(https://wiki.guildwars2.com/images/4/4e/Elementalist_icon_small.png);
}

.virtuoso {
	content: url(https://wiki.guildwars2.com/images/7/77/Virtuoso_icon_small.png);
}

.necromancer {
	content: url(https://wiki.guildwars2.com/images/1/10/Necromancer_icon_small.png);
}

.tempest {
	content: url(https://wiki.guildwars2.com/images/5/58/Tempest_icon_small.png);
}

.troubadour {
	content: url(https://wiki.guildwars2.com/images/f/f4/Troubadour_icon_small.png);
}

.mesmer {
	content: url(https://wiki.guildwars2.com/images/7/79/Mesmer_icon_small.png);
}

.thief {
	content: url(https://wiki.guildwars2.com/images/a/a0/Thief_icon_small.png);
}

.guardian {
	content: url(https://wiki.guildwars2.com/images/c/c7/Guardian_icon_small.png);
}

.engineer {
	content: url(https://wiki.guildwars2.com/images/0/07/Engineer_icon_small.png);
}

.amalgam {
	content: url(https://wiki.guildwars2.com/images/d/d0/Amalgam_icon_small.png);
}

.ritualist {
	content: url(https://wiki.guildwars2.com/images/f/f9/Ritualist_icon_small.png)
}

.luminary {
	content: url(https://wiki.guildwars2.com/images/7/7b/Luminary_icon_small.png)
}

.dragonhunter {
	content: url(https://wiki.guildwars2.com/images/5/5d/Dragonhunter_icon_small.png);
}

.soulbeast {
	content: url(https://wiki.guildwars2.com/images/6/6a/Soulbeast_icon_small.png);
}

.mirage {
	content: url(https://wiki.guildwars2.com/images/c/c8/Mirage_icon_small.png);
}

.warrior {
	content: url(https://wiki.guildwars2.com/images/4/45/Warrior_icon_small.png);
}

.ranger {
	content: url(https://wiki.guildwars2.com/images/1/1e/Ranger_icon_small.png);
}

.catalyst {
	content: url(https://wiki.guildwars2.com/images/c/c5/Catalyst_icon_small.png);
}

.spellbreaker {
	content: url(https://wiki.guildwars2.com/images/0/08/Spellbreaker_icon_small.png);
}

.bladesworn {
	content: url(https://wiki.guildwars2.com/images/c/cf/Bladesworn_icon_small.png);
}

.berserker {
	content: url(https://wiki.guildwars2.com/images/a/a8/Berserker_icon_small.png);
}

.paragon {
	content: url(https://wiki.guildwars2.com/images/1/13/Paragon_icon_small.png);
}

.reaper {
	content: url(https://wiki.guildwars2.com/images/9/93/Reaper_icon_small.png);
}

// Transforms

.celestialavatar {
	content: url(https://wiki.guildwars2.com/images/thumb/5/59/Celestial_Avatar.png/54px-Celestial_Avatar.png);
}

.deathshroud {
	content: url(https://wiki.guildwars2.com/images/thumb/f/f5/Death_Shroud.png/54px-Death_Shroud.png);
}

.reapersshroud {
	content: url(https://wiki.guildwars2.com/images/thumb/1/11/Reaper%27s_Shroud.png/54px-Reaper%27s_Shroud.png);
}

.harbingershroud {
	content: url(https://wiki.guildwars2.com/images/thumb/a/ab/Harbinger_Shroud.png/54px-Harbinger_Shroud.png);
}

.lichform {
	content: url(https://wiki.guildwars2.com/images/thumb/a/ab/Lich_Form.png/54px-Lich_Form.png);
}

.elixirs {
	content: url(https://wiki.guildwars2.com/images/thumb/d/d8/Elixir_S.png/54px-Elixir_S.png);
}

.photonforge {
	content: url(https://wiki.guildwars2.com/images/thumb/d/dd/Engage_Photon_Forge.png/54px-Engage_Photon_Forge.png);
}

.shadowshroud {
	content: url(https://wiki.guildwars2.com/images/thumb/f/f3/Enter_Shadow_Shroud.png/54px-Enter_Shadow_Shroud.png);
}

.tornado {
	content: url(https://wiki.guildwars2.com/images/thumb/4/40/Tornado.png/54px-Tornado.png);
}

.mistform {
	content: url(https://wiki.guildwars2.com/images/thumb/1/1b/Mist_Form.png/54px-Mist_Form.png);
}

.quickpockets {
	content: url(https://wiki.guildwars2.com/images/thumb/3/36/Quick_Pockets.png/60px-Quick_Pockets.png);
}

.rogue {
	content: url(https://wiki.guildwars2.com/images/thumb/a/a9/Tale_of_the_Honorable_Rogue.png/50px-Tale_of_the_Honorable_Rogue.png);
}

.marshal {
	content: url(https://wiki.guildwars2.com/images/thumb/c/cf/Tale_of_the_Valiant_Marshal.png/72px-Tale_of_the_Valiant_Marshal.png);
}

.advance {
	content: url(https://wiki.guildwars2.com/images/thumb/2/26/%22Advance%21%22.png/72px-%22Advance%21%22.png);
}

.breach {
	content: url(https://wiki.guildwars2.com/images/thumb/e/ea/Ghastly_Breach.png/72px-Ghastly_Breach.png);
}

// Markers

.arrow {
	content: url(https://wiki.guildwars2.com/images/thumb/e/ef/Commander_arrow_marker.png/45px-Commander_arrow_marker.png);
}

.circle {
	content: url(https://wiki.guildwars2.com/images/thumb/6/60/Commander_circle_marker.png/45px-Commander_circle_marker.png);
}

.heart {
	content: url(https://wiki.guildwars2.com/images/thumb/3/32/Commander_heart_marker.png/45px-Commander_heart_marker.png);
}

.xmarker {
	content: url(https://wiki.guildwars2.com/images/thumb/b/b9/Commander_x_marker.png/45px-Commander_x_marker.png);
}

.swirl {
	content: url(https://wiki.guildwars2.com/images/thumb/0/00/Commander_spiral_marker.png/45px-Commander_spiral_marker.png);
}

.triangle {
	content: url(https://wiki.guildwars2.com/images/thumb/e/ea/Commander_triangle_marker.png/45px-Commander_triangle_marker.png);
}

.xmarker {
	content: url(https://wiki.guildwars2.com/images/thumb/b/b9/Commander_x_marker.png/45px-Commander_x_marker.png);
}

.square {
	content: url(https://wiki.guildwars2.com/images/thumb/0/01/Commander_square_marker.png/45px-Commander_square_marker.png);
}

.star {
	content: url(https://wiki.guildwars2.com/images/thumb/3/31/Commander_star_marker.png/45px-Commander_star_marker.png);
}

// Mounts

.skyscale {
	content: url(https://wiki.guildwars2.com/images/thumb/f/fd/Skyscale_%28map_icon%29.png/30px-Skyscale_%28map_icon%29.png);
}

.skimmer {
	content: url(https://wiki.guildwars2.com/images/thumb/f/f5/Skimmer_%28map_icon%29.png/30px-Skimmer_%28map_icon%29.png);
}

.jackal {
	content: url(https://wiki.guildwars2.com/images/thumb/5/59/Jackal_%28map_icon%29.png/30px-Jackal_%28map_icon%29.png);
}

.beetle {
	content: url(https://wiki.guildwars2.com/images/thumb/d/d2/Roller_Beetle_%28map_icon%29.png/30px-Roller_Beetle_%28map_icon%29.png);
}

.slipstream {
	content: url(https://wiki.guildwars2.com/images/thumb/5/58/Slipstream_Boost.png/50px-Slipstream_Boost.png);
}

.bond-faith {
	content: url(https://wiki.guildwars2.com/images/thumb/c/c7/Bond_of_Faith.png/72px-Bond_of_Faith.png);
}

.bond-vigor {
	content: url(https://wiki.guildwars2.com/images/thumb/6/60/Bond_of_Vigor.png/72px-Bond_of_Vigor.png);
}

// Other

.knockback{
	content: url('https://wiki.guildwars2.com/images/c/ca/Knockback.png');
}

.knockdown{
	content: url('https://wiki.guildwars2.com/images/3/36/Knockdown.png');
}

.pull {
	content: url(https://wiki.guildwars2.com/images/3/31/Pull.png);
}

.power {
	content: url('https://wiki.guildwars2.com/images/2/23/Power.png');
}

.condition {
	content: url('https://wiki.guildwars2.com/images/5/54/Condition_Damage.png');
}

.stunbreak {
	content: url('https://wiki.guildwars2.com/images/thumb/7/7a/Breaks_stun.png/30px-Breaks_stun.png');
}

.weapon-swap {
	content: url(https://wiki.guildwars2.com/images/c/ce/Weapon_Swap_Button.png);
}

.check {
	width: 2em !important;
    height: 2em;
	content: url('../../images/green_check.svg');
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.pro {
	width: 1em !important;
    height: 1em;
	content: url('../../images/green_check.svg');
}

.con {
	width: 1em !important;
    height: 1em;
	content: url('../../images/red_cross.svg');
}

.warn {
	width: 1em !important;
    height: 1em;
	content: url('../../images/yellow_warning.svg');
}

.midnight {
	content: url('https://wiki.guildwars2.com/images/thumb/6/67/Relic_of_the_Midnight_King.png/60px-Relic_of_the_Midnight_King.png');
}

.speed {
	content: url('https://wiki.guildwars2.com/images/thumb/6/68/Relic_of_Speed.png/60px-Relic_of_Speed.png');
}

.thorns-relic {
	content: url('https://wiki.guildwars2.com/images/thumb/8/8a/Relic_of_Thorns.png/60px-Relic_of_Thorns.png');
}

.achievement {
	content: url('https://wiki.guildwars2.com/images/1/10/Achievement_effect.png');
}

.vl-icon {
	content:  url(../../images/VL_icon.webp);
}

.log {
	content:  url(../../images/log_icon.png);
}

.sheets {
	content: url(https://upload.wikimedia.org/wikipedia/commons/3/30/Google_Sheets_logo_%282014-2020%29.svg);
}

.slides {
	content: url(https://upload.wikimedia.org/wikipedia/commons/1/1e/Google_Slides_logo_%282014-2020%29.svg);
}

.docs {
	content: url(https://upload.wikimedia.org/wikipedia/commons/0/01/Google_Docs_logo_%282014-2020%29.svg);
}

.youtube {
	content: url(../../images/video-icon.png);
}

.build {
	content: url(../../images/wrench-icon.png);
	margin-right: 3px;
}

.wingman {
	content: url(../../images/wingman.png);
}

.warn-icon {
	content: url(../../images/warning.svg);
}

// Encounter Effects

.defensive {
	content: url(https://wiki.guildwars2.com/images/a/a2/Defensive_Inspiration.png);
}

.ascension {
	content: url(https://wiki.guildwars2.com/images/6/63/Ascension_%28effect%29.png);
}

.fixate {
	content: url(https://wiki.guildwars2.com/images/6/66/Fixated.png);
}

.fixate-icon {
	content: url(https://wiki.guildwars2.com/images/thumb/1/1e/Fixated_%28purple%29.png/45px-Fixated_%28purple%29.png);
}