@import "./color_schemes/dark";

$link-color: #93b0d0;
$body-text-color: #c5c4c4;
$body-heading-color: #c6a6d9;
$sidebar-color: #1e1e1e;
$nav-list-link-color: #93b0d0;
$nav-child-link-color: #93b0d0;
$body-background-color: #212325;
